.tabbable-line>.nav-tabs>li.active {
  margin-bottom: -5px;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
  margin-bottom: -5px;
}

.tabbable-line>.nav-tabs {
  margin-bottom: 10px;
}

.nav>li>a {
  padding: 10px 15px 7px 15px;
}