
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="sessionExpired.logout()"></button>
        <h4 class="modal-title">Session Inactive</h4>
    </div>
    <div class="modal-body">
        <p>
            Your session has been paused due to a long period of inactivity, you may choose to continue working or exit the application entirely.
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="sessionExpired.logout()">Exit</button>
        <button type="button" class="btn blue" ng-click="sessionExpired.reauth()">Continue working</button>
    </div>
</div>